* {
    margin: 0;
    padding: 0;
}

body {
    width:90vw;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#444;
    
}
nav {
    text-align: center;
    height: 50px;
    margin:20px;
    padding-top:10px;
    font-size: larger;
    position: relative;
  
}
button {
    padding:10px;
    text-align: center;
    width: 200px;
    position: relative;
    left:40vw;
    bottom:40vh;
    background-color: whitesmoke;
    border:2px solid rgb(149, 138, 138);
    border-radius: 6px;
    box-shadow:2px 2px 8px 1px #907e8e;

}
button:hover {
    transform: scale(1.1);
    background-color: goldenrod;
    color: rgb(28, 28, 88);
    font-size: larger;
}
.container {
    display: flex;
    width: 90vw;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
}
.pieces {
    display: flex;
    flex-direction: row;
    gap: 20px 5px;
}

img {
    padding:15px;
    border-radius: 5px;
    margin:30px;
    box-shadow:2px 2px 14px 1px #811673;
    border: 3px white;
}

img:hover {
    transform: scale(1.1);
}

#result {
    margin-top:60px;
    text-align: center;
    text-decoration-line: underline;
}
@media (max-width: 600px) {
    * {
        padding:0px;
        margin:0px;
    }
    nav {
        padding: 5px;
        margin: 5px;
        position: relative;
        top:0;
        font-size: 20px;
    }
    .pieces {
        margin-top: 0px;
        flex-flow: column;
        padding:5px;
    }
    .container {
        align-items: center;
        justify-content: center;
        padding-top:0px;
    }
    
    img {
        width:100px;
        padding:10px;
        margin:5px;
    }
     button {
        width: 50%;
        height: 50px;
        left: 25%;
        bottom:42vh;
    }
  }
